/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

body {
  font-family:
    "Shantell Sans",
    "Comic Sans",
    "inter",
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
  /* font-family:
    "Basier Square",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif; */
  @apply p-6 pr-8 lg:p-8 bg-neutral-50 text-neutral-900 md:text-[18px];
}

.prose-content {
  @apply prose prose-ul:grid prose-ul:grid-cols-1 md:prose-ul:grid-cols-2 prose-li:m-1 prose-img:aspect-video prose-img:object-cover prose-ul:gap-x-4 prose-img:mt-1 prose-img:mb-3 hover:prose-img:scale-[1.008] prose-img:transition-all;
}

iframe {
  /* Assign aspect ratio and scale width with screen width */
  aspect-ratio: 16 / 9;
  height: auto;
  width: 100%;
  /* Optional - Center the iframe horizontally */
  margin-left: auto;
  margin-right: auto;
}

.prose iframe {
  @apply shadow-sm;
}
