---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Menu from "../../components/Menu.astro";
import History from "../../components/History.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

export async function getStaticPaths() {
  const posts = await getCollection("garden");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
// type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout>
    <main class="grid gap-4">
      <Menu cur="(Back to Entries)" url="/e" />
      <h2 class="text-4xl">
        {post.data.title}
      </h2>
      <div class="prose prose-lg">
        <!-- <BlogPost {...post.data}> -->
        <Content />
        <!-- </BlogPost> -->
      </div>
    </main>
</BaseLayout>
