---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Menu from "../components/Menu.astro";
import Gallery from "../components/Gallery.astro";
import History from "../components/History.svelte";

import { Content } from "../content/main/crafts.mdx";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- <Header title={SITE_TITLE} /> -->
    <main class="grid gap-4">
      <Menu dir="crafts" />
      <div
        class="prose prose-lg grid md:grid-cols-3 gap-x-8 prose-headings:mr-2 prose-ul:col-span-2 prose-p:col-span-2 prose-img:aspect-video prose-img:object-cover"
      >
        <Content components={{ Gallery }} />
      </div>
    </main>
    <History client:load />
    <Footer />
  </body>
</html>
