---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PubLinks from "../components/PubLinks.astro";

const entries = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="pc grid gap-8">
      <h1 class="text-3xl border-y border-black py-3 font-medium pr-2">
        pub's digital garden
      </h1>
      <div class="grid md:grid-cols-4 gap-8">
        <div class="md:col-span-3 grid gap-5">
          {
            entries.map((x) => {
              return (
                <div class="text-lg border-b border-black py-1 my-1 flex justify-between">
                  <div>{x}. chasing new horizons</div>
                  <div>🌟</div>
                </div>
              );
            })
          }
        </div>
        <div class="order-first md:order-last">
          <div class="font-medium text-lg">filter</div>
          <div>tags</div>
          <div>date</div>
        </div>
      </div>
    </main>
    <Footer />
    <style>
      li > a {
        @apply px-1;
      }
    </style>
    <style>
      p {
        @apply text-justify;
      }
    </style>
  </body>
</html>
