---
import BaseLayout from "../layouts/BaseLayout.astro";
import Content from "../content/main/main.md";
---

<BaseLayout p="Pub">
  <section class="prose prose-h1:text-balance prose-h2:text-balance">
    <Content />
  </section>
</BaseLayout>
