---
import BaseLayout from "../layouts/BaseLayout.astro";
import Menu from "../components/Menu.astro";
import Gallery from "../components/Gallery.astro";
import Draggable from "../components/Draggable.svelte"

import { Content } from "../content/main/stories.mdx";

// const posts = await Astro.glob('../content/main/(pub.md|crafts.mdx)');
---

<BaseLayout>
    <main class="grid gap-4">
        <Menu dir="stories" />
        <div class="prose prose-lg">
        <Content components={{ Gallery }} />
        </div>
    </main>
</BaseLayout>

{ /* posts.map(post =>
    <Draggable show={true} client:load >
        <main class="prose prose-lg">
            {<post.Content components={{ Gallery }} />}
        </main>
    </Draggable>) */}
