---
// import Menu from "../components/Menu.astro";
// import Gallery from "../components/Gallery.astro";
// import Draggable from "../components/Draggable.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";

import { Content } from "../content/main/work.md";
---

<BaseLayout>
  <div class="prose-content">
    <Content />
  </div>
</BaseLayout>
