---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<!-- <header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
	</nav>
</header> -->
<header class="flex justify-between items-center pc py-3">
  <div><a href="/">madeby.pub</a></div>
  <ul class="flex gap-1">
    <li><a href="works">works</a></li>
    <li><a href="">displays</a></li>
    <li><a href="">me</a></li>
  </ul>
</header>

<style>
  li > a {
    @apply px-1;
  }
</style>
