---
import BaseHead from "../../../components/BaseHead.astro"
import Color from "./color.svelte"
import Type from "./type.svelte"
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead />
</head>

    <body>
        <nav class="w-full w-full bg-neutral-900 text-neutral-50 py-2 px-4 text-xl">
            🇹🇭 ThaiUI
        </nav>
        <!-- https://spencermortensen.com/articles/typographic-scale/ -->
        <main class="grid gap-8 my-4">
            <Type client:load />
            <Color client:load />
        </main>
    </body>
</html>

<style>
    body {
      margin: 0;
      padding: 0;
    }
</style>
