/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Basier Circle';
	src: url('/fonts/basier-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: regular;
}

@font-face {
	font-family: 'Basier Circle';
	src: url('/fonts/basier-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: regular;
}

@font-face {
	font-family: 'Basier Circle';
	src: url('/fonts/basier-semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: regular;
}

@font-face {
	font-family: 'Zed Mono Extended';
	src: url('/fonts/zed-mono-extended.ttf') format('truetype');
	font-weight: 500;
	font-style: regular;
}

body {
	font-family: 'Basier Circle', sans-serif;
	background: black;
	width: 100vw;
	height: 100svh;
	overflow: hidden;
}

html {
	touch-action: none;
}

.glass {
	/* background: linear-gradient(135deg, rgba(100, 100, 100, 0.07), rgba(100, 100, 100, 0.15)); */
	background: rgba(255, 255, 255, 0.65);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}

.glass-dark {
	/* background: linear-gradient(135deg, rgba(100, 100, 100, 0.07), rgba(100, 100, 100, 0.15)); */
	background: rgba(20, 20, 20, 0.65);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}

.external-link {
	@apply text-blue-600 hover:text-blue-700 dark:text-amber-400 dark:hover:text-amber-500;
}

.internal-link {
	@apply text-neutral-700 no-underline hover:text-neutral-600 dark:text-neutral-400 dark:hover:text-neutral-400;
	&::before {
		content: '[';
	}
	&::after {
		content: ']';
	}
}

.img,
.iframe {
	@apply rounded-md border border-neutral-200 shadow-sm dark:border-neutral-800;
}

.tag {
	@apply w-min rounded-full border border-neutral-300 bg-neutral-200 px-2 hover:cursor-default dark:border-neutral-700 dark:bg-neutral-800;
}

.dot {
	@apply flex aspect-square w-8 items-center justify-center rounded-full border bg-white text-white md:w-7 dark:border-neutral-700 dark:bg-neutral-800;
}
.dot-success {
	@apply flex aspect-square w-8 items-center justify-center rounded-full border  bg-emerald-400/50 text-white md:w-7 dark:border-neutral-700;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
